<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/logoAsset 4.png">
    <script src="https://caro-room.herokuapp.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/app.css">
    <title>Cờ Caro</title>
</head>

<body>
    <div class="Wrapper">
            {{{body}}}
    </div>
</body>

</html>