<h1 class="roomName">Room: {{room}}</h1>
<div class="flex">
    <div class="box-message" id="me" style="height: 300px">
        <div class="my-turn remaining-time"></div>
        <h1 class="player-name">{{user}}</h1>
        <p class="myMessage text-message"></p>
        <button class="btn-draw" id="btn-draw">Cầu Hòa</button>
    </div>
    <div class="caro-board"></div>
    <div class="box-message" id="competitor" style="height: 300px">
        <div class="your-turn remaining-time"></div>
        <h1 class="player-name" id="competitor-name"></h1>
        <p class="message text-message"></p>
    </div>
</div>
<div class="box-chat container" style="width: 500px;">
    <div class="typeMessage">
        <textarea style="width: 100%;" name="" id="txtData" cols="50" rows="5"></textarea>
        <button id="btnSubmit">Send</button>
    </div>
</div>

{{!-- announced --}}
<div class="box-announced">
    <div class="announced">win</div>
    <button class="btn-announced">chơi tiếp</button>
</div>
<script>
    var user = "{{user}}";
    var room = "{{room}}";
</script>
<script src="/script.js" defer></script>
