    <div class="login">
        <form action="/caroRoom" method="post">
        <label for="name">Name: </label>
        <input type="text" id="name" name="user">
        <label for="room">Room: </label>
        <input type="text" id="room" name="room">
        <button id="btnLogin" type="submit">Login</button>
        </form>
    </div>

