*{
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS;
}

.Wrapper{
    position: relative;
    background: cornsilk;
    min-height: 100vh;
    overflow: auto;
}
.container{
    width: max-content;
    margin: 0 auto;
}
/* Login layout */

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.login-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.title-login{
    text-align: center;
    line-height: 2;
}

.login-content label{
    line-height: 1.8;
}

.inp-login{
    outline: none;
    border: 1px solid steelblue;
    font-size: 15px;
    display: block;
    line-height: 2.8;
    padding: 0 10px;
}
.inp-login:focus{
    box-shadow: 0 0 3px 1px rgb(124, 190, 245);
}

#btn-login{
    background-color: steelblue;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid steelblue;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
#btn-login:hover{
    color: steelblue;
    background-color: #fff;
}


/* CaroRoom layout */
.roomName{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}



.remaining-time{
    position: absolute;
    top: -15%;
    font-size: 50px;
    width: 100%;
}

.player-name{
    font-size: 15px;
    margin-bottom: 10px;
}

.box-message{
    position: relative;
    width: 30%;
    padding: 1rem;
    text-align: center;
}

.text-message{
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    overflow-wrap: anywhere;
    margin-bottom: 5px;
    display: none;
}


.caro-board{
    position: relative;
    width: max-content;
    height: max-content;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(20,auto);
    grid-template-rows: repeat(20,auto);
}

.cross-word{
    border: 1px solid royalblue;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 1px;
    text-align: center;
    color: red;
    font-size: 30px;
    line-height: 0.5;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
}

.ready{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 18px;
    background-color: rgb(47, 165, 43);
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

#txtData{
    margin-top: 1rem;
    outline: none;
}

#btnSubmit{
    padding: 2px;
    float: right;
    color: royalblue;
}


.announced{
    line-height: 1;
    margin-top: 71px;
    font-size: 10rem;
    display: block;
    opacity: 0.5;
    overflow: auto;
}
.box-announced{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: none;
}

.btn-announced{
    border: 1px solid royalblue;
    outline: none;
    background-color: royalblue;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
}
.btn-announced:hover{
    background-color: #fff;
    color: royalblue;
}

.btn-draw{
    border: 1px solid green;
    outline: none;
    background-color: green;
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline;
    width: max-content;
}
.btn-draw:hover{
    background-color: #fff;
    color: green;
}

#btn-draw{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.accept-draw{
    position: absolute;
    top: 0;
}

@media only screen and (max-width: 700px){
    .cross-word{
        width: 20px;
        height: 20px;
        font-size: 27px;
    }
}

@media only screen and (max-width: 600px){
    .cross-word{
        width: 18px;
        height: 18px;
        font-size: 23px;
    }
}

@media only screen and (max-width: 500px){
    .cross-word{
        width: 15px;
        height: 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px){
    .cross-word{
        width: 11px;
        height: 11px;
        font-size: 16px;
    }
}